body {
  background-color: #140c1b;
  padding:0px;
  margin:0px;
  color: #bc94fc;
  font-family: Hack;
  background-image: url("c1.png");
}
header {
  background-color: #140c1b;
  color: #d67c9c;
  padding:0px;
  height:10%;
  border-bottom: 10px solid #b42c5c;
}
.tag1, .tag2, .tag3 {
  font-family: Hack;
  font-weight: bold;
  color: #bc94fc;
  position: absolute;
  top: 0px;
/*  background-color: white;*/
  padding:20px;
  border-radius: 2px;
}

.tag1:hover, .tag2:hover, .tag3:hover {
  background-color: #d67c9c;
  color: #140c1b;
}

.tag1:active, .tag2:active, .tag3:active {
  /*background-color: #b42c5c;*/
  padding-bottom: 15px;
  border-bottom: 5px solid #b42c5c;
  color: #140c1b;
}

.tag1 {
  right: 250px;
}

.tag2 {
  right: 150px;

}

.tag3 {
  right: 50px;

}

.logo {
  position:absolute;
  font-size:30px;
  font-weight:bold;
  font-family: Hack;
  padding-left: 20px;
}
.mainText {
  font-family: Hack;
  position: relative;
  margin-left: 10%;
  margin-top: 15%;
  list-style-type: none;
  font-size: 32px;
}
li:nth-child(2) {
  color: #b42c5c;
  font-weight: bold;
}

