body {
  background-color: #140c1b;
  padding:0px;
  margin:0px;
  color: #bc94fc;
  font-family: Hack;
}
header {
  background-color: #140c1b;
  color: #d67c9c;
  padding:0px;
  height:10%;
  border-bottom: 10px solid #b42c5c;
}
#nav {
  font-family: Hack;
  color: #bc94fc;
  position: absolute;
  right: 10px;
}
th {
  padding: 40px;
  padding-top:35px;
}
.logo {
  position:absolute;
  font-size:30px;
  font-weight:bold;
  font-family: Hack;
  padding-left: 20px;
}
.mainText {
  font-family: Hack;
  position: relative;
  margin-left: 10%;
  margin-top: 15%;
  list-style-type: none;
  font-size: 32px;
}
li:nth-child(2) {
  color: #b42c5c;
  font-weight: bold;
}

